<div class="list-img-box">
    <div class="list-img clearfix">
        <div class="flower"></div>
        <div class="new-box">
            <div class="left-title"><img src="../../img/title3.png" alt=""></div>
            <div class="new-title">
                <p>您的当前位置：<a href="http://miyue.8864.com" target="_blank">官网首页</a> > <a href="./index.html"
                                                                                        target="_blank">资料站</a> > 随从列表
                </p>
            </div>
            <ul class="list-tab">
                <li class="active" data-type="0">全部</li>
                <li data-type="5">五星</li>
                <li data-type="4">四星</li>
                <li data-type="3">三星</li>
                <li data-type="2">二星</li>
                <li data-type="1">一星</li>
            </ul>
            <div class="list-cont clearfix"></div>
            <div class="list-more clearfix"></div>
        </div>
    </div>
</div>