<div class="accompany">
    <div class="accompany-box">
        <p class="title"><img src="../img/title3.png" alt=""></p>
        <div class="swiper-container any">
            <div class="swiper-wrapper title-img"></div>
        </div>
        <div class="swiper-button-next s-next"></div>
        <div class="swiper-button-prev s-prev"></div>
        <div class="accompany-btn"><a href="./list.html" target="_blank"></a></div>
    </div>
</div>