<div class="video">
    <div class="video-box">
        <p class="title"><img src="../img/title4.png" alt=""></p>
        <div class="video-cont">
            <!--<div class="list">
                <a href="" target="_blank">
                    <p><img src="./img/logo.png" alt=""></p>
                    <span>芈月传手游24日全平台上线 蓝港携手花儿乐视...</span>
                </a>
            </div>-->
        </div>
    </div>
</div>