<div class="person-img">
    <div class="person-box">
        <p class="title"><img src="../img/title2.png" alt=""></p>
        <p class="list">
            <span class="span1"><img src="../img/img.png" alt=""><font class="active"></font></span>
            <span class="span2"><img src="../img/man.png" alt=""><font class=""></font></span>
        </p>
        <div class="swiper-container gallery-top person-container">
            <div class="swiper-wrapper person"></div>
        </div>
        <div class="person-prev swiper-button-white"><span></span></div>
        <div class="person-next swiper-button-white"><span></span></div>
        <div class="swiper-bottom-s">
            <ul>
            </ul>
            <p class="p-l"></p>
            <p class="p-r"></p>
        </div>
    </div>
</div>