<div class="new">
    <div class="flower"></div>
    <div class="new-box">
        <div class="new-title">
            <p>您的当前位置：<a href="http://miyue.8864.com" target="_blank">官网首页</a> > 资料站</p>
        </div>
        <div class="left">
            <div class="swiper-container new-left">
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination new-img"></div>
            </div>
        </div>
        <div class="right">
            <div class="news-nav" id="newsNav">
                <a class="active" data-column="199,517,519,521">最新<span></span></a>
                <a data-column="199">新闻<span></span></a>
                <a data-column="517">活动<span></span></a>
                <a data-column="519">公告<span></span></a>
                <a data-column="521">攻略<span></span></a>
            </div>
            <ul class="news-list clearfix" id="newsListPage">
                <!--<li>
                    <span>[攻略]</span><a>同名手游10.13强势登陆iOS同名手游10.13强势登陆iOS同名手游10.13</a>
                    <time>01-01</time>
                </li>-->
            </ul>
            <div class="more"><a href="http://miyue.8864.com/miyue-pc/list.html" target="_blank"></a></div>
        </div>
    </div>
</div>