<div class="activity">
    <div class="activity-top"></div>
    <div class="activity-box">
        <p class="title-text">活动日记</p>
        <span class="down"></span>
        <p class="details-a"><a href="http://miyue.8864.com/miyue-pc/detail.html?column_id=521&id=619" target="_blank"><img src="../img/detail.png" alt=""></a></p>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>01</span>征讨权贵</p>
            <p class="time">12:10-13:00  21：10-22:00</p>
            <div class="text">
                <p class="describe">小主进入派系之后，每天12:10和21:10主界面左下角就会出现征讨权贵选项，点击之后可以进入征讨权贵界面。点选征讨权贵，就能够开始活动任务。<span><img src="../img/right-5.png" alt=""></span>
                </p>
            </div>
        </div>
        <div class="cont-bottom">
            <p class="details ">
                征讨权贵开始后，可以点击自动战斗，这样等CD时间到了之后角色就会自动再次攻击，也可以选择使用铜钱和元宝对伤害进行加成。自己个人和所在派系的伤害越多获得的帮贡等活动奖励就越丰厚！</p>
        </div>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>02</span>派系答题</p>
            <p class="time">21:00-21:09</p>
            <div class="text">
                <p class="describe">组建或加入一个心仪的派系，与拥有相同目标的小主，互帮互助，共同晋升<!--<span><img src="./img/right-5.png"
                                                                                           alt=""></span>-->
                </p>
            </div>
        </div>
        <div class="cont-bottom">
            <!--<p class="details"></p>-->
        </div>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>03</span>建设派系</p>
            <!--<p class="time">12:10-13:00 21:10-22:00</p>-->
            <div class="text">
                <p class="describe">进入了一个派系，就需要为派系成长贡献自己的一份力量啦，完成每日的派系任务，获得派系令牌，可以帮助派系拉拢权贵，而日常的派系捐献，就全看大家的实力和心意了，一共有三个捐献档位，捐的越多获得的派系贡献越多，派系成长也越快<!--<span><img src="./img/right-5.png" alt=""></span>-->
                </p>
            </div>
        </div>
        <div class="cont-bottom">
            <!--<p class="details "></p>-->
        </div>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>04</span>拉拢权贵</p>
            <!--<p class="time"></p>-->
            <div class="text">
                <p class="describe">派系权贵厅中可以看到众多权贵,使用离间、友好等手段可以拉拢权贵入驻自己的派系，不同权贵增加的战斗属性不同，派系高层可以根据派系实力和成员需求选择最合适的权贵进行拉拢，拉拢成功后与权贵的友好度越高，权贵越不容易被其它派系拉走<!--<span><img src="./img/right-5.png"
                                                                                           alt=""></span>--></p>
            </div>
        </div>
        <div class="cont-bottom">
            <!--<p class="details "></p>-->
        </div>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>05</span>翩翩起舞</p>
            <p class="time">11:50-12:10</p>
            <div class="text">
                <p class="describe">每天十一点半开始，界面左下角就会出现跳舞的图标。点击之后就会进入跳舞界面，界面左侧有详细的活动介绍，简而言之跳舞之前的第一件事就是要先换装，根据每日不同的主题搭配不同的衣服，才能够取得高分<!--<span><img src="./img/right-5.png" alt=""></span>-->
                </p>
            </div>
        </div>
        <div class="cont-bottom">
            <!--<p class="details "></p>-->
        </div>
    </div>
    <div class="cont">
        <div class="cont-top">
            <p class="title"><span>06</span>宴会系统</p>
            <!--<p class="time"></p>-->
            <div class="text">
                <p class="describe">在府邸的次级按钮中，当小主等级开启到35级时，在府邸的次级按钮，将会出现宴会按钮，点击进入，选择举办宴会或者参加宴会，宴会里还有吃包子和猜拳玩法哦！<!--<span><img src="./img/right-5.png"  alt=""></span>-->
                </p>
            </div>
        </div>
        <div class="cont-bottom">
            <!--<p class="details"></p>-->
        </div>
    </div>
    <div class="r-x"><img src="../img/right-1.png" alt=""></div>
</div>