<div class="shade"></div>
<div class="follow-img">
    <p class="close"><img src="../img/close.png" alt=""></p>
    <div class="swiper-container pop">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide">
                <div class="follow-box">
                    <div class="left">
                        <div class="title">芈月</div>
                        <p class="type">类型 : <span>攻击</span></p>
                        <p class="star">星级 : <span><img src="./img/x2.png" alt=""></span><span><img
                                src="./img/x2.png" alt=""></span></p>
                        <p class="text">
                            楚威王与向氏之女楚威王与向氏之女楚威王与向氏之女楚威王与向氏之女，有“霸星”之称，被楚威后所不喜。与芈姝关系很好，是芈茵的情敌。更多假字更多假字更多假字，更多假字更多假字更多假字。</p>
                        <div class="cont-tab">
                            <div class="nav">
                                <p class="active"><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                                <p class=""><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                                <p class=""><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                            </div>
                            <div class="cont">
                                <div class="active">敌方后排，造成80%+170的伤害；敌方后排，命中降低440，持续2回合。</div>
                                <div class="next">敌方后排，造成80%+170的伤害；敌方后排，命中降低440，持续2回合。</div>
                            </div>
                        </div>
                        <div class="dp">
                            <p class="headline">缘分搭配</p>
                            <p class="cont">与<span>秦王</span>、义渠君一起上阵，增伤+12%；与芈姝一起上阵，攻击+15%与黄轩一起上阵，增伤+10%</p>
                        </div>
                        <div class="property">
                            <p class="headline">随从属性</p>
                            <p class="skill">
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                            </p>
                        </div>
                    </div>
                    <div class="right"><img src="./img/person1.png" alt=""></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="follow-box">
                    <div class="left">
                        <div class="title">芈月</div>
                        <p class="type">类型 : <span>攻击</span></p>
                        <p class="star">星级 : <span><img src="./img/x2.png" alt=""></span><span><img
                                src="./img/x2.png" alt=""></span></p>
                        <p class="text">
                            楚威王与向氏之女楚威王与向氏之女楚威王与向氏之女楚威王与向氏之女，有“霸星”之称，被楚威后所不喜。与芈姝关系很好，是芈茵的情敌。更多假字更多假字更多假字，更多假字更多假字更多假字。</p>
                        <div class="cont-tab">
                            <div class="nav">
                                <p class="active"><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                                <p class=""><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                                <p class=""><img src="./img/nav-a.png" alt=""><span>鏖战1</span></p>
                            </div>
                            <div class="cont">
                                <div class="active">敌方后排，造成80%+170的伤害；敌方后排，命中降低440，持续2回合。</div>
                                <div class="next">敌方后排，造成80%+170的伤害；敌方后排，命中降低440，持续2回合。</div>
                            </div>
                        </div>
                        <div class="dp">
                            <p class="headline">缘分搭配</p>
                            <p class="cont">与<span>秦王</span>、义渠君一起上阵，增伤+12%；与芈姝一起上阵，攻击+15%与黄轩一起上阵，增伤+10%</p>
                        </div>
                        <div class="property">
                            <p class="headline">随从属性</p>
                            <p class="skill">
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                                <span>生命：5655</span>
                            </p>
                        </div>
                    </div>
                    <div class="right"><img src="./img/person1.png" alt=""></div>
                </div>
            </div>-->
        </div>
        <div class="swiper-button-next pop-next"></div>
        <div class="swiper-button-prev pop-prev"></div>
    </div>
</div>